<p>this is my user: <%= @user.username %></p>



<% @user.sales.each do |sale| %>
    <p><%= sale.kind %></p>
    <p><%= sale.gender %></p>
    <p><%= sale.brand %></p>
    <p><%= sale.description %></p>
    <p><%= sale.price %></p>
<% end %>

<%= form_with model: @user.rating do |f|%>
    <div> Rate me from 1 to 5: <%= f.text_area :rating, required: true %></div>
    <div> Description: <%= f.text_area :description, required: true %></div>
    <%= f.submit %>
<% end %>

<% sum = 0 %>
<% @user.ratings.each do |r| %>
    <%sum += r.rating %>
<%end %>
<%= sum/@user.ratings.length if @user.rating.length != 0 %>