<p>this is my user<%= @user.email %></p>
<% @user.sales.each do |sale| %>
    <p><%= sale.kind %></p>
    <p><%= sale.gender %></p>
    <p><%= sale.brand %></p>
    <p><%= sale.description %></p>
    <p><%= sale.price %></p>
<% end %>