<%= image_tag @sale.pic, class: "my-pic" if @sale.pic.attached? %>
<p><%= @sale.user.username %></p>
<p><%= @sale.kind %></p>
<p><%= @sale.gender %></p>
<p><%= @sale.size%></p>
<p><%= @sale.brand %></p>
<p><%= @sale.description %></p>
<p><%= @sale.price %></p>

<% if current_user == @sale.user %>
    <%= button_to "Delete", @sale, method: :delete %>
    <%= button_to "Edit", "/sales/#{@sale.id}/edit", method: :get %>
<% end %>


<%= link_to @sale.user.username, user_path %>